.banner {
  background-color: theme("colors.caramel.100");
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e9d4c3' fill-opacity='1'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.banner h1 {
  -webkit-text-stroke: 1px theme("colors.caramel.500");
  color: theme("colors.caramel.100");
  text-shadow: 3px 3px 0 theme("colors.caramel.500"),
    -1px -1px 0 theme("colors.caramel.500"),
    1px -1px 0 theme("colors.caramel.500"),
    -1px 1px 0 theme("colors.caramel.500"),
    1px 1px 0 theme("colors.caramel.500");
}
