@font-face {
  font-family: "Brandon Grotesque";
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/BrandonGrotesque-Black.woff2");
}

@font-face {
  font-family: "Domaine";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/DomaineTextWeb-Regular.woff2");
}

@font-face {
  font-family: "Domaine";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/DomaineTextWeb-RegularItalic.woff2");
}
